@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
    
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  list-style: none;
  font-family: "Montserrat", sans-serif; }
  *:focus {
    outline: 0; 
}

/*html {
  zoom: 0.9;
}*/

body {
    
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
}

body .left-side {
    
  display: flex;
  align-items: center;
  justify-content: center; 
}

body #begin {
    
  display: flex;
  background-color: black;
  position: relative;
  max-width: 100vw;
  height: 600px;
  overflow: hidden; 
}

body #begin .left-side {
    
  background-color: white;
  width: 100%;
  position: absolute; 
}

body #begin .left-side .logo {
  
  margin-top: 3rem;
  margin-left: 8rem; 
}


body #begin .left-side .icons {
    
   margin-left: 8rem;
   margin-top: 100px;
   display: flex; 
}
        
body #begin .left-side .icons a {
    
   width: 60px;
   height: 55px;
   background-color: white;
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
}
   
body #begin .left-side .icons a:hover {
    
   margin-top: -10px;
   border-radius: 10px;
   transform: rotate(9deg);
   box-shadow: 0 30px 20px #777;
   transition: 0.5s; }

body #begin .left-side .icons a:not(:first-child) {
    
   margin-left: 1rem; 
}

body #menu  {
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}



body #menu .center {
    
    height: 670px;
    position: relative;
    text-align: center;
    background-color: black;
    
    
    
}

body #menu .center #navbar {
    
    position: relative;
    height: 66px;
    padding: 0.5rem;
    display: flex;
    text-align: center;
    top: inherit;
    
    
}

body #menu .center ul{
    
    display: flex;
    margin-top: 1rem;
    
    
}

body #menu .center #navbar ul li{
    
    margin: 3rem;
    background-color: aliceblue;
    margin: 30px;
    
}

body #menu .center #navbar ul li:last-child {
    
    background-color: aliceblue;
    border: 10px;
}

body #menu .center #navbar ul li a {
    
    font-weight: 700;
    font-size: 20px;
    padding: 1rem;
    color: #fff;
    height: 2.8rem;
    
}


body .content-title, body #begin .left-side .icons a, body #begin .right-side #navbar ul li a, body #info-area .about-content, body #info-area #skills .items .item .overlay, body footer .icon-area {
   
    display: flex;
    align-items: center;
    justify-content: center; 
}

body .col-center, body #about-me, body #info-area, body #portfolio .row .column .overlay, body #contact, body #contact form, body footer, body footer .back-top-area {
    
    display: flex;
    flex-direction: column;
    align-items: center; 
}




body #contact {
    
    position: relative;
    background: radial-gradient(50% 50% at 50% 50%, rgba(26, 21, 21, 0) 0%, rgba(1, 1, 1, 0.16) 100%), #ffffff;
    padding-bottom: 68px; 
}


    
body #contact form .input:not(input[type="submit"]) {
      
    width: 600px;
    height: 48px;
    padding: 14px;
    font-size: 18px;
    border-bottom: 5px solid #000000;
    border-left: 5px solid #000000;
    background: transparent; }
      
body #contact form .input:not(input[type="submit"]).area {
        
    width: 100%;
    max-width: 600px;
    min-height: 184px; }
      
body #contact form .input:not(input[type="submit"]):not(textarea):focus::-webkit-input-placeholder {
    
    transform: translateX(150%);
    transition-duration: 3s; }
      
body #contact form .input:not(input[type="submit"]):not(:first-child) {
        
    margin-top: 52px; }
      
body #contact form .input:not(input[type="submit"])::placeholder {
        
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    color: #8b8b8b;
    line-height: 17px; }
    
body #contact form .input[type="submit"] {
      
    height: 45px;
    width: 197px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
    border-left: 4px solid #000000;
    border-right: 4px solid #000000; }
      
body #contact form .input[type="submit"]:hover {
        
    border: 4px solid #000000;
    font-weight: 700;
    letter-spacing: 4px;
    transition: 0.5s; }



body footer {
    height: 220px;
    background-color: #1a1a1a;
    justify-content: space-around;
    color: #ffffff; }

body footer .back-top-area {
      
    height: 40px;
    justify-content: space-between;
    cursor: pointer; }
      
body footer .back-top-area:hover {
        
    transform: translateY(-10px);
    transition: 0.6s; }
      
body footer .back-top-area p {
        
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 3px; }
    
body footer .icon-area {
      
    width: 50%;
    justify-content: space-between;
    flex-wrap: wrap; }

body footer .icon-area a {
        
    color: #ffffff; }
    
body footer .icon-area a i {
          
    font-size: 30px; }
          
body footer .icon-area a i.fa-twitter:hover {
            
    color: #00acee; }
          
body footer .icon-area a i.fa-instagram:hover {
            
    color: #8134af; }
          
body footer .icon-area a i.fa-steam:hover {
            
    color: #30526f; }
          
body footer .icon-area a i.fa-discord:hover {
            
    color: #7289da; }
    
body footer .copy-area {
      
    font-weight: 500;
    letter-spacing: 1px; }
      
body footer .copy-area span {
        
    font-weight: 700; }
  
body #thanks {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #ffffff; }
    
body #thanks a {
      
    background-color: #ffffff;
    height: 40px;
    padding: 1rem;
    color: #000000;
    letter-spacing: 1px;
    border-radius: 10px;
    box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px; }

    /* tablet görünümü */ 

@media only screen and (max-width:992px) {
    
    .begin {
        flex-wrap: wrap;
        width: 28%;
        
    
    }
    
    .menu{ 
        flex-wrap: wrap;
        width: 48%;
    }
    
}


/* telefon görünümü */

@media only screen and (max-width:768px) {
    
    .left-side {
        
        flex-wrap: wrap;
        margin-right: 60%;
        
        
    }
    
    .left-side .logo{
        
        /
        margin: -35%
    }
    
    .left-side .logo img {
        
        width: 65%;
        height: 65%;
        margin-right: 55%;
    
    }
    
    .texts {
        
        flex-wrap: wrap;
        text-align: center;
        
        
        }
    
    .icons {
        
        flex-grow: wrap;
        margin-right: 25%;
        
        
        
        
        
    }
       
    .center{ 
        
        margin-right: 85%; 
        width: 5%;
        
        
        
    }
    
    .center li {
        
        display: contents;
        
        
        
    }
    
    body #contact form .input:not(input[type="submit"]){
        
        margin-left: 85px;
        
        
    }

    
    
}